<html>
  <body>
    <p>Hello {{email}}</p>
    <p>
      {{siteTitle}}
      has given you access to their Mediavine dashboard. We created you an
      account under this email address:
      {{email}}
    </p>
    <p>Since we auto created your account, you'll have to accept the invitation
      by resetting your password in order to first log in.</p>
    <p><a href='{{{invitationUrl}}}' target='_blank'>Reset your password here.</a></p>
  </body>
</html>