<html>
  <body>
    <p>{{siteTitle}}
      has given you access to their Mediavine dashboard. You can view it using
      your existing account under this email address ({{email}}) by going to:
      <a href='{{appRootUrl}}'>{{appRootUrl}}</a>
    </p>
  </body>
</html>